* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto Serif', serif;
  color: white;
}

#inbox {
  flex-grow: 1;
  background-color: #111b21;
  border: 5px solid orange;
  overflow: auto;
}

#chat_form {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#chat_input {
  flex-grow: 1;
  margin-right: 5px;
  padding: 10px;
  font-size: 24px;
}

.message_unit {
  margin: 10px;
  display: flex;
}

.message_unit--self {
  flex-direction: row-reverse;
}

.message_unit_inner {
  padding: 10px;
  border: 2px solid crimson;
  border-radius: 4px;
  background-color: #242424;
}

.message_username {
  color: #ffeb3b;
  font-size: 14px;
}

.message_body {
  font-size: 18px;
}
